name: goreleaser

on:
  push:
    master:

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.3.4
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        uses: go-semantic-release/action@v1.11.2
        id: semantic
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          changelog-file: .changelog
      -
        name: Set up Go
        uses: actions/setup-go@v2.1.3
        if: steps.semantic.outputs.version != ''
      -
        name: Release
        uses: goreleaser/goreleaser-action@v2.6.1
        if: steps.semantic.outputs.version != ''
        with:
          version: latest
          args: release --config=.github/goreleaser.yml --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
